<div class="card">
  <div class="job-list-header">
    <div class="header-first">
      <div *ngIf="!keyword">
        All Jobs in New Zealand
      </div>
      <div *ngIf="keyword">
        {{keyword}} in New Zealand
      </div>
      <div class="font-mini" *ngIf="lengthTotal">
        {{lengthTotal}} results
      </div>
    </div>
  </div>
  <div class="scrolly" [ngStyle]="{'height.px': listingHeight}" id="leftlist">
    <div class="err-bar" *ngIf="errorMessage">
      <h1>{{errorMessage}}</h1>
    </div>
    <div *ngIf="!errorMessage">
      <ul *ngIf="jobLists" style="padding-left:0;">
        <li *ngFor="let i of jobLists" (click)="showData(i)">
          <div class="job-item">
            <div class="company-content">
              <div class="company-content-brief">
                <div class="clicktittle" (mouseup)="onMiddleClick($event,i.id)">
                  <h4 style="color: blue"><b>{{i.title}}</b></h4>
                </div>
                <h5 *ngIf="i.principal != ''"><b>{{i.principal}}</b></h5>
                <h6>{{i.location_name}}, NZ</h6>
              </div>
            </div>
          </div>
        </li>
        <mat-paginator (page)="showData($event)" [length]="lengthTotal" [pageSize]="20" [pageIndex]="pagesIndex">
        </mat-paginator>
      </ul>
    </div>
  </div>
</div>
