<!-- The inital navbar needs to be fixed & further considered here, -->
<!-- We use <br>s to resolve this now -->
<br><br>

<div [ngStyle]="{'height.px': bodyHeight}">
  <section class="main-content container">
    <div class="filter-holder">
      <app-jobs-searchbar></app-jobs-searchbar>
    </div>
    <div class="row" style="margin-top: 1rem;">
      <div id="job-list-left" class="col-6">
        <app-jobs-list></app-jobs-list>
      </div>
      <div id="job-list-right" class="col-6">
        <app-jobs-description></app-jobs-description>
      </div>
    </div>
  </section>
</div>