<nav style="background-color:#1494c4; padding-top:4px; padding-bottom:4px;" class="navbar navbar-expand-md navbar-dark fixed-top">
  <div style="padding-top:0px;" class="container">

    <a style="padding:0px;" class="navbar-brand logoFont" href="#">Gradspace</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex-md flex-row-reverse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link navLink dropdown-toggle" href="#" role="button" data-toggle="dropdown">{{'Navitem1'| translate }}
            <span class="sr-only">(current)</span>
          </a>
          <ul class="dropdown-menu" id="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="coursesdropdown">
              <a class="dropdown-item" [routerLink]="['/'+language+'/program-developer']">{{'Navitem2'| translate }}</a>
            </li>
            <li class="coursesdropdown">
              <a class="dropdown-item" [routerLink]="['/'+language+'/program-tester']">{{'Navitem6'| translate }}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link navLink" [routerLink]="['/'+language+'/success-cases']">{{'Navitem3' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLink" [routerLink]="['/'+language+'/application']">{{'Navitem4' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navLink" href="#">
            <i class="fas fa-phone-volume">&nbsp;&nbsp;+64 2102264770</i>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a *ngIf="otherLanguage" [href]="[languageUrl]" class="nav-link navLink"><i class="fas fa-globe-americas"></i>{{otherLanguage}}</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>